/* Define variables */
:root {
    --logo-opacity: 1;
    --border-radius: 10px;
    --box-shadow: 0 2px 4px rgba(6, 53, 0, 0.534);
}

/* header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(201, 201, 201);
}

#header>img {
    margin: 0 10px;
    padding: 5px 0;
    opacity: var(--logo-opacity);
}

/* navigation */
#navbar {
    min-height: 50px;
    max-height: 100px;
    padding: 5px;
    background-color: darkgreen;
    box-shadow: var(--box-shadow);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    z-index: 5;
}

#navlist {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(50px, 100px));
    justify-content: center;
    margin: 0;
}

#navlist>li>a {
    color: whitesmoke;
    text-align: center;
}

/* fix navbar when header disapears */
.fixedNavbar {
    transition: top 1s ease-in-out;
    position: sticky;
    top: 0;

}

/* promotion section */
#slide {
    min-height: 300px;
    max-height: 600px;
    display: flex;
    align-items: center;
}

/* promotion caption */
#slide>img {
    opacity: 1;
    display: block;
    min-height: 300px;
    max-height: 600px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: var(--border-radius);
}

#promotion-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    text-transform: uppercase;
}

#promotion-caption>h5 {
    font-size: 33px;
}

#promotion-caption>p {
    font-size: 12px;
}

#slide:hover img {
    opacity: 0.3;
}

#slide:hover #promotion-caption {
    opacity: 1;
}

/* services */
#services {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;

}

.grid-item-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.grid-item-services>img {
    width: 200px;
    height: 200px;
    box-shadow: var(--box-shadow);
    border-radius: 20%;
}

.grid-text-services {
    margin: 10px;
    padding: 5px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/* about */
#about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* margin: 10px; */
    padding: 5px;
    background: rgb(173, 173, 173);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow)
}

#about-img {
    width: 50px;
    height: 100px;
    margin-right: 5px;
    float: left;
}

.about-text {
    text-align: justify;
}

/* footer */
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template: 100px / 1fr 1fr;
    height: 100px;
    background: rgb(201, 201, 201);
    box-shadow: var(--box-shadow);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-top: 5px;
}

.footer-logo>img {
    padding: 5px;
    opacity: var(--logo-opacity);
}

/* contact */
#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#contact>p {
    margin: 0;
    font-size: 12px;
}

#contact>h3 {
    font-size: 14px;
}

/* media queries */
@media (max-width: 767px) {
    .grid-item-services:last-child {
        display: flex;
        flex-direction: row;
        grid-column: 1 / span 2; /*stretch the last item over two columns to fill space */
    }

    #promotion-caption>h5 {
        font-size: 25px;
    }
}

@media (max-width: 460px) {
    #services {
        gap: 10px
    }

    .grid-item-services {
        grid-column: 1 / span 2;
        /*stretch the last item over */
    }

    .grid-item-services:last-child {
        display: flex;
        flex-direction: column;
    }

    #promotion {
        padding: 0;
    }

    #navlist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 316px) {
    .removable-logo {
        display: none;
    }
}